   /* default settings */
* {
    box-sizing: border-box;
    margin:auto;
  }

[class*="col-"] {
    float:left;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgba(42, 23, 23, 0.5);
  }
body{
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}

h1, h2, h3{
    text-align: center;
}
p{
    text-align: justify;
}
.article a p{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 50%;
    height: 50%;
}

/* mobile settings */
  .main{
    height: 100%;
    font-size: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-style: dashed;
    border-width: 2px;
    border-color: beige;
  }
  
  .main:has(.article)
  {
    height: 80vh;
  }
  ul{
    list-style-type: none;
  }
  .navigation{
    background-color: rgba(183, 173, 207, 0.8);
    border-radius: 1vw;
    text-align: center;
    height: 100%;
    padding: 2vw;
    padding-left: 0;
    margin-left: 0;
  }

  .ad{
    background-color: rgba(83, 86, 87, 0.8);
    padding: 1vw;
    border-radius: 1vw;
    height:100%;
  }

  .article{
    background-color: rgba(79, 100, 111, 0.8);
    border-radius: 1vw;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2vw;
  }
  .header{
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    background-color: rgb(152, 127, 127);
  }
  .header p{
    text-align: center;
    font-size: 40px;
  }
  .footer{
    height: 10vh;
    background-color: rgb(191, 128, 128);
    padding: 0;
  }
  .footer p{
    font-size: 50px;
    text-align: center;
  }

    /* link settings */
  a{
    text-decoration: none;
    color:rgb(171, 222, 44)
  }
  a:visited{
    color: rgb(30, 2, 2);
  }
  a:hover{
    color: rgb(65, 84, 207);
  }
  a:active{
    color: rgb(11, 54, 98);
  }



    /* tablets settings */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    body{
        background-image: url("../images/background.webp");
        background-repeat: no-repeat;
        background-size: 100vw 100%;
    }
    .ad{
        height:100%;
    }    
    .main:has(.navigation)
    {
        height: 80vh;
    }
    .main:has(.article)
    {
        height: 80vh;
    }
  }
  /* Deskotp settings */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{
        background-image: url("../images/background.webp");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
    .ad{
        height: 80vh;
    }
    .main{
        height: 80vh;
      }
  }


  .ad img{
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }